In [94]:
print("Welcome to EID 403: Machine Learning Course")

Welcome to EID 403: Machine Learning Course

In [95]:
import pandas as pd
import numpy as np

In [96]:
data=pd.read_csv("tennis.csv")
#data=pd.read_csv("find-s_dataset.csv")

In [97]:
data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [98]:
print(data.shape)

(14, 5)

In [99]:
print(data.shape[0])

14

In [100]:
print(data.shape[1])

5

In [101]:
num_attributes=len(data.columns)
print(num_attributes)

5

In [102]:
num_rows=len(data)
print(num_rows)

14

In [103]:
generic_hypothesis=["?"]*num_attributes
specific_hypothesis=["0"]*num_attributes

print("Most Generic Hypothesis: ",generic_hypothesis,"\nMost Specific Hypothesis:",specific_hypothesis)

Most Generic Hypothesis:  ['?', '?', '?', '?', '?']
Most Specific Hypothesis: ['0', '0', '0', '0', '0']

In [104]:
hypothesis=specific_hypothesis
print("Find-S: Finding maximally specific hypothesis")

Find-S: Finding maximally specific hypothesis

In [105]:
#####
hypothesis=data.iloc[0,:-1]
print(hypothesis)

outlook     sunny
temp          hot
humidity     high
windy       False
Name: 0, dtype: object

In [106]:
for i in range(1,num_rows):
    print("\nrow ",i)
    if(data['play'][i]=="yes"):
        for j in range(num_attributes-1):
            if data.iloc[i,j]!=hypothesis[j]:
                hypothesis[j]='?'
    print("\n",hypothesis)

row  1

 outlook     sunny
temp          hot
humidity     high
windy       False
Name: 0, dtype: object

row  2

 outlook         ?
temp          hot
humidity     high
windy       False
Name: 0, dtype: object

row  3

 outlook         ?
temp            ?
humidity     high
windy       False
Name: 0, dtype: object

row  4

 outlook         ?
temp            ?
humidity        ?
windy       False
Name: 0, dtype: object

row  5

 outlook         ?
temp            ?
humidity        ?
windy       False
Name: 0, dtype: object

row  6

 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

row  7

 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

row  8

 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

row  9

 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

row  10

 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

row  11

 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

row  12

 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

row  13

 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

In [107]:

for i in range(1,num_attributes):
    print("\n")
    for j in range(num_attributes-1):
        print(data.iloc[i,j],hypothesis[j])

sunny ?
hot ?
high ?
True ?


overcast ?
hot ?
high ?
False ?


rainy ?
mild ?
high ?
False ?


rainy ?
cool ?
normal ?
False ?

In [115]:
print("Concept generalized using Find-S algorithm for the dataset:\n",hypothesis)

Concept generalized using Find-S algorithm for the dataset:
 outlook     ?
temp        ?
humidity    ?
windy       ?
Name: 0, dtype: object

In [116]:
print(type(hypothesis))

<class 'pandas.core.series.Series'>

In [117]:
print(hypothesis.tolist())

['?', '?', '?', '?']